<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010915202561-rau61a7c94150hvji2q4sjgn5beeiea1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010915202561-rau61a7c94150hvji2q4sjgn5beeiea1</string>
	<key>API_KEY</key>
	<string>AIzaSyBHXuCEEi0It7kcvX69AMAjCXHmLP-4NE8</string>
	<key>GCM_SENDER_ID</key>
	<string>1010915202561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.kirkukelmall</string>
	<key>PROJECT_ID</key>
	<string>kirkuk-emall</string>
	<key>STORAGE_BUCKET</key>
	<string>kirkuk-emall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010915202561:ios:4d3ba29b88797e601f9200</string>
</dict>
</plist>